<div id="modal-extension-info" class="modal fade" role="dialog">
    <div class="modal-dialog modal-fullscreen">

        <div class="modal-content bg-default">
            <div class="modal-header">
                <h4 class="modal-title"><strong>Extension Information</strong></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body text-center">
                                <i class="fa fa-support fa-5x mb-2"></i>
                                <h4><strong>{f:translate(key:'extension_info.support_development', extensionName: slug)}</strong></h4>
                                <p class="lead">{f:translate(key:'extension_info.support_development_text', extensionName: slug)}</p>
                                <a class="btn btn-warning btn-lg text-white" href="https://PayPal.Me/typo3freelancer/50" target="_blank"><i class="fa fa-paypal"></i> {f:translate(key:'extension_info.support_development.donate', extensionName: slug)}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body text-center">
                                <i class="fa fa-github fa-5x mb-2"></i>
                                <h4><strong>{f:translate(key:'extension_info.code', extensionName: slug)}</strong></h4>
                                <p class="lead">{f:translate(key:'extension_info.code_text', extensionName: slug)}</p>
                                <a href="https://github.com/koehlersimon/slug" target="_blank">https://github.com/koehlersimon/slug</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body text-center">
                                <i class="fa fa-warning fa-5x mb-2"></i>
                                <h4><strong>{f:translate(key:'extension_info.issue', extensionName: slug)}</strong></h4>
                                <p class="lead">{f:translate(key:'extension_info.issue_text', extensionName: slug)}</p>
                                <a href="https://github.com/koehlersimon/slug/issues" target="_blank">https://github.com/koehlersimon/slug/issues</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body text-center">
                                <i class="fa fa-youtube fa-5x mb-2"></i>
                                <h4><strong>{f:translate(key:'extension_info.youtube', extensionName: slug)}</strong></h4>
                                <p class="lead">{f:translate(key:'extension_info.youtube_text', extensionName: slug)}</p>
                                <a href="https://www.youtube.com/channel/UC_PtQESDvj-GZNeo9LarRuA?sub_confirmation=1" target="_blank" class="btn btn-warning btn-lg text-light">TYPO3 Freelancer Channel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">{f:translate(key:'extension_info.close', extensionName: slug)}</button>
            </div>
        </div>

    </div>
</div>
