<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:be.container>

        <f:be.pageRenderer pageTitle="slug"
            includeCssFiles="{0: '{f:uri.resource(path:\'Css/Backend.css\')}'}"
            includeJsFiles="{0: '{f:uri.resource(path:\'Libs/jquery-3.1.1.min.js\')}', 1:'{f:uri.resource(path:\'JavaScript/Slug.js\')}'}"
            />

            <div class="typo3-fullDoc">
                <div id="typo3-docbody">
                    <div id="typo3-inner-docbody">
                        <f:flashMessages />
                        <f:render section="content" />
                        <footer id="slug-footer">
                            &copy; 2018-2021 by S.Köhler | <a href="#" data-bs-toggle="modal" data-bs-target="#modal-extension-info" class="text-warning"><i class="fa fa-info-circle"></i> {f:translate(key:'footer.about', extensionName: slug)}</a> | <a href="https://github.com/koehlersimon/slug#usage" target="_blank"><i class="fa fa-github"></i> {f:translate(key:'footer.docs', extensionName: slug)}</a> | <a href="https://www.digistore24.com/redir/246076/GOCHILLA/" target="_blank"><i class="fa fa-angle-right"></i> {f:translate(key:'footer.affiliate_link', extensionName: slug)}</a>
                        </footer>
                    </div>
                </div>
            </div>

            <f:render partial="ModalExtensionInfo"/>

    </f:be.container>
</html>
